n8n/workflows/compile-drain.json
{
  "id": "kompl-compile-drain",
  "name": "compile-drain",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f90",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/compile/claim",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f90a1",
      "name": "HTTP: Claim Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "nothing_pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f90a1b2",
      "name": "IF: Nothing Pending",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/compile/commit",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_id: $('HTTP: Claim Pending').first().json.source_id }) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f90a1b2c3",
      "name": "HTTP: Compile Commit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/activity",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action_type: 'compile_failed', source_id: $('HTTP: Claim Pending').first().json.source_id, details: { workflow: 'compile-drain', error: ($json.error && $json.error.message) ? $json.error.message : 'unknown_workflow_error' } }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f90a1b2c3d4",
      "name": "HTTP: Log Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 560]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP: Claim Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Claim Pending": {
      "main": [
        [
          {
            "node": "IF: Nothing Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Nothing Pending": {
      "main": [
        [],
        [
          {
            "node": "HTTP: Compile Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Compile Commit": {
      "main": [
        [],
        [
          {
            "node": "HTTP: Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
