n8n/workflows/ingest-source.json
{
  "id": "kompl-ingest-source",
  "name": "ingest-source",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest",
        "responseMode": "onReceived",
        "responseCode": 202,
        "options": {}
      },
      "id": "b1c2d3e4-f5a6-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "a0f1e2d3-c4b5-4a6b-8c7d-9e0f1a2b3c4d"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-sync",
        "responseMode": "lastNode",
        "responseCode": 200,
        "options": {}
      },
      "id": "f0e1d2c3-b4a5-6c7d-8e9f-0a1b2c3d4e5f",
      "name": "Webhook Trigger (Sync)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "c2d3e4f5-a6b7-4c8d-9e0f-1a2b3c4d5e6f"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.source_type }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "url"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.source_type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "c2d3e4f5-a6b7-8c9d-0e1f-2a3b4c5d6e7f",
      "name": "Switch on source_type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nlp-service:8000/convert/url",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_id: $json.body.source_id, url: $json.body.source_ref }) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d3e4f5a6-b7c8-9d0e-1f2a-3b4c5d6e7f80",
      "name": "HTTP: Convert URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nlp-service:8000/convert/file-path",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_id: $json.body.source_id, file_path: $json.body.source_ref, title_hint: $json.body.title_hint ?? null }) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e4f5a6b7-c8d9-0e1f-2a3b-4c5d6e7f8091",
      "name": "HTTP: Convert File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/sources/store",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f5a6b7c8-d9e0-1f2a-3b4c-5d6e7f8091a2",
      "name": "HTTP: Store Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/activity",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action_type: 'ingest_failed', source_id: $('Webhook Trigger').first().json.body.source_id, details: { workflow: 'ingest-source', error: ($json.error && $json.error.message) ? $json.error.message : 'unknown_workflow_error', source_type: $('Webhook Trigger').first().json.body.source_type, source_ref: $('Webhook Trigger').first().json.body.source_ref } }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a6b7c8d9-e0f1-2a3b-4c5d-6e7f8091a2b3",
      "name": "HTTP: Log Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch on source_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (Sync)": {
      "main": [
        [
          {
            "node": "Switch on source_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on source_type": {
      "main": [
        [
          {
            "node": "HTTP: Convert URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Convert File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Convert URL": {
      "main": [
        [
          {
            "node": "HTTP: Store Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Convert File": {
      "main": [
        [
          {
            "node": "HTTP: Store Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Store Source": {
      "main": [
        [],
        [
          {
            "node": "HTTP: Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
