n8n/workflows/lint-wiki.json
{
  "id": "kompl-lint-wiki",
  "name": "lint-wiki",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 11 * * 1"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule: Mon 11:30 Local",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "path": "lint",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Webhook: Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 480],
      "webhookId": "kompl-lint-manual"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/wiki/lint-pass",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "HTTP: Run Lint Pass",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 380],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/activity",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action_type: 'lint_failed', source_id: null, details: { workflow: 'lint-wiki', error: ($json.error && $json.error.message) ? $json.error.message : 'lint_pass_error' } }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "HTTP: Log Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueErrorOutput",
      "position": [720, 520]
    }
  ],
  "connections": {
    "Schedule: Mon 11:30 Local": {
      "main": [
        [
          {
            "node": "HTTP: Run Lint Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP: Run Lint Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Run Lint Pass": {
      "main": [
        [],
        [
          {
            "node": "HTTP: Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
