n8n/workflows/weekly-digest.json
{
  "id": "kompl-weekly-digest",
  "name": "weekly-digest",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 0"
            }
          ]
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Schedule: Sunday 00:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/digest/generate",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "HTTP: Generate Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/activity",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action_type: 'digest_failed', source_id: null, details: { workflow: 'weekly-digest', error: ($json.error && $json.error.message) ? $json.error.message : 'digest_generate_error' } }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "HTTP: Log Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueErrorOutput",
      "position": [720, 440]
    }
  ],
  "connections": {
    "Schedule: Sunday 00:00 UTC": {
      "main": [
        [
          {
            "node": "HTTP: Generate Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Generate Digest": {
      "main": [
        [],
        [
          {
            "node": "HTTP: Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "tags": []
}
